<aside>
    <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/quienes-somos">Quiénes somos</a></li>
    <li><a href="/carta">Carta restaurante</a></li>
    <li><a href="/carta/bodega">Bodega</a></li>
    <li><a href="/contacto">Contacto</a></li>
    </ul>
</aside>