<footer>

    <h6>Cosas que no me salen</h6>
    <ul>
        <li>Postres no me pilla el layout</li>
        <li>Cómo filtrar mejor los platos? en el controlador o en el template?</li>
        <li>Metadatos en controlador o en rutas</li>
        <li></li>
    </ul>
</footer>