<nav>
    <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/quienes-somos">Quiénes somos</a></li>
    <li><a href="/carta">Carta restaurante</a></li>
    <li><a href="/nuevo-plato">Nuevo</a></li>
    <li><a href="/carta/postres">Postres</a></li>
    <li><a href="/articulo-blog">Artículo del blog</a></li>
    </ul>
</nav>
